---
layout: default
title: "Artigos aceitos"
---

<section id="light-card">
    <div class="p-2 container col-sm-12 col-lg-8 text-justify">
        <h2 class="p-4 text-center">Artigos aceitos</h2>

        <p class="lead">Os seguintes artigos foram aceitos para a publicação no evento. Cada artigo deverá ser apresentado em 10 minutos, com 4 minutos adicionais para discussões e perguntas da plateia.</p>
        <br>
        <p class="lead">Sessão I de artigos de Iniciação Científica - Quarta-feira (28/05), 14h30</p>
        <ul>
            <li>Avaliação de Desempenho Temporal em Computação Quântica: Estudo sobre Transpilação e Execução em Circuitos de Superposição e Entrelaçamento
            <li>Uma Abordagem para o Knight’s Tour Problem utilizando Depth First Search
            <li>Um Estudo Inicial de Desempenho de Protocolos de Exclusão Mútua Escaláveis
            <li>Uma Proposta de Monitoramento Hierárquico Utilizando Heartbeat em Sistemas de Computação de Alto Desempenho
            <li>Comparador de Memórias Emergentes: Uma Ferramenta para a Análise de Novas Tecnologias
            <li>Um Estudo sobre Aceitabilidade de Resultados de Sistemas Aproximados em Redes Neurais Artificiais
            <li>Implementação da técnica de publish-subscribe para detectar uma interrupção de instâncias preemptivas
        </ul>
        <br>
        <p class="lead">Sessão II de artigos de Iniciação Científica - Sexta-feira (30/05), 08h30</p>
        <ul>
            <li>Análise Comparativa de Síntese de Alto Nível para Algoritmos de Multiplicação de Matrizes em FPGA
            <li>Explorando Paralelismo no Problema da Subsequência de Soma Máxima
            <li>Algoritmo de Dijkstra: Proposta de Paralelização em CUDA
            <li>Verificação da paralelização da soma harmônica com OpenMP e CUDA
            <li>Impacto do uso de Pthreads, Blocking, OpenMP e SIMD no Desempenho de Multiplicação de Matrizes
            <li>Emulação de Large Language Models para RISC-V usando QEMU
            <li>Controle automatizado de recursos computacionais em cluster com ESP32 e Naive Bayes para melhorar eficiência energética
            <li>Uma análise de ferramentas de multiprocessamento e multithreading para Python
        </ul>
        <br>
        <p class="lead">Sessão de artigos de Pós-Graduação - Quinta-feira (29/05), 16h30</p>
        <ul>
            <li>Migração de Contêineres Utilizando runC e CRIU em Ambiente de Nuvem
            <li>Proposta de modelo agnóstico para composição e orquestração serverless de workflows científicos
            <li>Simulador de Eventos Discretos Multiagente: Uma Proposta para Execução Distribuída em Larga Escala
            <li>Migração de máquinas virtuais como estratégia para data centers sustentáveis
            <li>Simuladores para Computação em Nuvem: um estudo de disponibilidade
            <li>Persistent AutoNUMA
            <li>Comparação de desempenho de implementações Fortran e C: Corbino TBG
            <li>Otimização de Inferência em LLMs na CPU: Análise do Cenário Atual
            <li>Optimization in Information Retrieval: A Quick View of Techniques for Performance and Scalability
            <li>Portabilidade, Performance e Produtividade: Demonstração de sistemas runtime em Julia
            <li>Tomografia de Resistividade Elétrica em Ambiente HPC: Revisão de um Estudo Recente
        </ul>
        
<!--
        <p class="lead">Após a avaliação  de pelo menos 3 revisores, os seguintes artigos foram aceitos para a publicação no evento. Cada artigo deverá ser apresentado em 7 minutos, com 2 minutos adicionais para discussões e perguntas da plateia.</p>
        <br>
        <div>
            {% for session in site.data.artigos_aceitos.ic-track %}
            <div id="{{ session.id }}">
                <h4 class="session-info">Sessão {{ forloop.index }}: {{ session.title }}</h4>
                <div class="session-info">
                    <h6 class="session-info">
                      <span class="session-info">Horário e local</span>: {{ session.date }} ({{ session.start_time }} - {{ session.end_time }}) — {{ session.room }}
                    </h6>
                   <!-- <h6 class="session-info">
                      <span class="session-info">Chair</span>: {{ session.chair.name }} {%- if session.chair.institution -%}({{ session.chair.institution }}) {%- endif -%}
                   </h6>--> 
        <!--
                </div>
                <div class="session-papers">
                    {% for paper in session.papers %}
                        <div class="session-paper">
                            <h5 class="session-paper-title">{{ paper.title }} {% if paper.pdf %}<span><a href="{{ paper.pdf }}" target="_blank"><img class="paper-pdf-img" src="img/pdf-file.png"></a></span>{% endif %}</h5>
                            <h6>
                                {% for author in paper.authors %}
                                    {{ author.name }} ({{ author.institution }}){% if forloop.rindex == 2 %} e {% elsif forloop.rindex == 1 %}{% else %}, {% endif %}
                                {% endfor %}
                            </h6>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% if forloop.rindex >= 2 %}<hr><br>{% endif %}
            {% endfor %}
        </div>
-->
        <br>
    </div>
</section>
