<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container container_header">
            <div class="row">
                <div class="div_logo_eradsp" style="position: relative">
                    <a class="logo_sbc_anchor" href="https://www.sbc.org.br/" target="_blank">
                        <span>Realização:</span>
                        <br />
                        <img class="logo_sbc" src="img/SBC.svg" alt="logo sbc" />
                    </a>
                    <a class="logo_eradsp_anchor" href="/">
                        <img class="p-1 logo_eradsp" src="img/Branco.png" alt="logo eradsp 2024" />
                    </a>
                </div>
            </div>
            <!--
            <h1 class="display-5 text-white text-center">XV Escola Regional de Alto Desempenho do Estado de São Paulo</h1>
            <h1 class="display-6 text-white text-center">16 a 18 de maio de 2024, Unesp, Rio Claro</h1>
            -->
            <h1 style="font-size:200%; color:white; text-align:center">XV Escola Regional de Alto Desempenho do Estado de São Paulo</h1>
            <h1 style="font-size:120%; color:white; text-align:center">16 a 18 de maio de 2024, Unesp, Rio Claro</h1>
        </div>
    </div>
</header>
