#light-card {
  margin-top: -3rem;
  border-radius: 40px 40px 0 0;
  background-color: #f8f9fa;
}

/*#light-card .lead {
font-size: 1rem;
}*/

#red-card {
  padding: 3rem;
  background-color: #881e3f;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

#white-card {
  padding: 3rem;
  background-color: white;
  color: #212529;
  margin-left: auto;
  margin-right: auto;
}

#dark-card {
  padding: 3rem;
  background-color: #1d0228;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

#sobre_sbc {
  background-color: #f8f9fa;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.carousel-container {
width: 80%;
margin: auto;
overflow: hidden;
position: relative;
}
.carousel-slide {
display: flex;
width: 100%;
}
.carousel-slide img {
max-width: 100%;
max-height: 400px;
object-fit: cover;
}
.carousel-prev,
.carousel-next {
cursor: pointer;
position: absolute;
top: 50%;
transform: translateY(-50%);
background: rgba(0, 0, 0, 0.5);
color: white;
padding: 10px;
border: none;
outline: none;
z-index: 2;
}
.carousel-prev {
left: 0;
}
.carousel-next {
right: 0;
}