---
layout: default
title: "Home"
---

<!-- sobre -->
<section id="light-card">
    <div class="p-2 pb-5 container col-sm-12 col-lg-8 text-justify">
        <h2 class="p-4 text-center">Seja bem-vindo(a) à ERAD-SP 2024!</h2>
        <p class="lead">
            A XV Escola Regional de Alto Desempenho do Estado de São Paulo (ERAD-SP 2024) é promovida pela Sociedade Brasileira de Computação (SBC) 
            e pela Comissão Regional de Computação de Alto Desempenho do Estado de São Paulo (CRAD-SP). A ERAD-SP 2024 visa a estimular o estudo e 
            as pesquisas em computação de alto desempenho, arquitetura de computadores, sistemas distribuídos, processamento paralelo e suas 
            aplicações em áreas como: biologia, engenharias, física, matemática, ciência da computação, medicina, mercado financeiro, química, 
            entre outras.
        </p>
        <p class="lead">    
            O público alvo da ERAD-SP 2024 são alunos, profissionais e professores/pesquisadores que atuam direta ou indiretamente na computação de 
            alto desempenho e em áreas correlatas. Espera-se neste evento reunir tais profissionais de modo a estimular a troca de experiências e 
            o desenvolvimento técnico científico da computação de alto desempenho no Brasil, em particular no Estado de São Paulo. Entre as 
            atividades programadas destacam-se a apresentação de palestras convidadas, minicursos introdutórios e avançados, apresentação de 
            trabalhos de Iniciação Científica e de Pós-Graduação, e o desafio de programação paralela. A ERAD-SP 2024 será realizada entre os dias 
            16 e 18 de maio de 2024, na Universidade Estadual Paulista (Unesp), em Rio Claro/SP. 
        </p>
    </div>
</section>

<section class="jumbotron jumbotron-fluid" id="red-card">
    <div class="pb-1 container col-sm-12 col-lg-8 text-justify">
        <h2>Transmissão</h2>
        <p class="lead">    
            Este evento será transmitido ao vivo através do canal do YouTube da ERAD-SP. Acompanhe: <a href="https://www.youtube.com/eradsp">youtube.com/eradsp</a>
        </p>
    </div>
</section>

<!-- datas importantes -->
<section class="jumbotron jumbotron-fluid" id="dark-card">
    <div class="pb-1 container col-sm-12 col-lg-8 text-justify">
        <h2>Datas importantes</h2>
        <ul class="mt-4">
            <!--<i>Em definição</i>-->
            <li><s>08/04/2024</s> 14/04/2024: Data limite para submissão de artigos.</li>
            <li>26/04/2024: Notificação dos artigos aceitos.</li>
            <li>03/05/2024: Data limite para inscrição dos autores no evento.</li>
            <li>06/05/2024: Data limite para upload da versão final dos artigos aceitos.</li>
        </ul>
    </div>
</section>

<section id="sobre_sbc">
    <div class="pb-1 container col-sm-12 col-lg-8 text-justify">
        <h2>Sobre a SBC</h2>
        <p class="lead">
            A <strong>Sociedade Brasileira de Computação - SBC</strong> é uma Sociedade Científica sem fins lucrativos, fundada em
            julho de 1978, que reúne estudantes, professores, profissionais, pesquisadores e entusiastas da área da Computação e
            Informática de todo o país.
        </p>
        <p class="lead">
            A SBC tem como função fomentar o acesso à informação e cultura por meio da informática, promover a inclusão digital,
            incentivar a pesquisa e o ensino em computação no Brasil, e contribuir para a formação do profissional da computação com
            responsabilidade social.
        </p>
        <p class="lead">
            Para organização e divulgação de atividades, ações e eventos científicos, técnicos, educacionais e políticos, a SBC mantém
            uma estrutura de três tipos de Grupos Temáticos (GT), que são as Grandes Áreas (GA), as Comissões Especiais (CE) e os
            Grupos de Interesses (GI). Estes grupos reúnem associados com interesses comuns em subáreas da computação.
        </p>
        <p class="lead">
            Aqui você está acessando o site de uma das
            <strong>Comissões Especiais (CE) da SBC</strong>, que representa um grupo de associados da SBC que compartilham dos
            interesses e valores em determinada área da Computação. Associados vigentes podem se inscrever nas
            <a href="https://www.sbc.org.br/403-comissoes-especiais" target="_blank">listas de e-mail das Comissões Especiais (CE)</a>
            da área que deseja acompanhar. Se você ainda não é um associado ou deseja renovar sua associação à nossa comunidade
            <a href="https://centraldesistemas.sbc.org.br/mom" target="_blank">clique aqui</a>
            e venha fazer parte da maior e mais importante sociedade científica na área de computação da América Latina!
        </p>
    </div>
</section>

<!-- novidades -->
<!-- <section class="jumbotron jumbotron-fluid" id="dark-card">
    <div class="pb-1 container col-sm-12 col-lg-8 text-justify">
        <h2>Novidades</h2>

        {% assign news = site.data.news.news %}

        <ul class="mt-4">
            {% for news_record in news %}
            <li><b>{{ news_record.date }}</b>: {{ news_record.text }}</li>
            {% endfor %}
        </ul>
    </div>
</section> -->

<!-- footer -->
