---
layout: default
title: "Home"
---

<!--SLIDES--

<section id="light-card">
    <div class="p-2 pb-5 container col-sm-12 col-lg-8 text-justify">
        <h2 class="p-4 text-center">Fotos do evento!</h2>
    </div>
</section>

<div class="carousel-container">
    <div class="carousel-slide">
        <div class="carousel-item">
            <img src="../img_car/1-1.jpg">
            <div class="carousel-caption">Dia 1 - Lobby do evento</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-2.jpg">
            <div class="carousel-caption">Dia 1 - Chegada de patrocinador</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-3.jpg">
            <div class="carousel-caption">Dia 1 - Entrada do auditório</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-4.jpg">
            <div class="carousel-caption">Dia 1 - Stands de patrocinadores montados</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-5.jpg">
            <div class="carousel-caption">Dia 1 - Apresentação do primeiro tutorial do evento</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-6.jpg">
            <div class="carousel-caption">Dia 1 - Tutorial com Guilherme Friol</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-7.jpg">
            <div class="carousel-caption">Dia 1 - Visão aberta do auditório durante o tutorial</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-8.jpg">
            <div class="carousel-caption">Dia 1 - Outra visão do auditório durante o tutorial</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-9.jpg">
            <div class="carousel-caption">Dia 1 - Primeiro coffee-break</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-10.jpg">
            <div class="carousel-caption">Dia 1 - Palestra industrial da Vircos</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-11.jpg">
            <div class="carousel-caption">Dia 1 - Participação da MGdata (Thiago)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-12.jpg">
            <div class="carousel-caption">Dia 1 - Equipe técnica cuida da transmissão do evento</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-13.jpg">
            <div class="carousel-caption">Dia 1 - Guilherme e Thiago juntos durante palestra industrial</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-14.jpg">
            <div class="carousel-caption">Dia 1 - Plateia durante palestra da Vircos</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-15.jpg">
            <div class="carousel-caption">Dia 1 - Equipe técnica ao final da primeira manhã</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-16.jpg">
            <div class="carousel-caption">Dia 1 - Abertura do Desafio de Programação Paralela</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-17.jpg">
            <div class="carousel-caption">Dia 1 - Minicurso Prof. Rodolfo Azevedo (UNICAMP)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-18.jpg">
            <div class="carousel-caption">Dia 1 - Minicurso Prof. Rodolfo Azevedo (UNICAMP)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-19.jpg">
            <div class="carousel-caption">Dia 1 - Minicurso Prof. Rodolfo Azevedo (UNICAMP)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-20.jpg">
            <div class="carousel-caption">Dia 1 - Minicurso Prof. Rodolfo Azevedo (UNICAMP)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-21.jpg">
            <div class="carousel-caption">Dia 1 - Minicurso Thiago Nunes (MGdata)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-22.jpg">
            <div class="carousel-caption">Dia 1 - Minicurso Thiago Nunes (MGdata)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-23.jpg">
            <div class="carousel-caption">Dia 1 - De volta para o auditório ...</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-24.jpg">
            <div class="carousel-caption">Dia 1 - Coffee-break da tarde</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-25.jpg">
            <div class="carousel-caption">Dia 1 - Palestra convidada - Profa. Liria Sato (USP)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-26.jpg">
            <div class="carousel-caption">Dia 1 - Palestra convidada - Profa. Liria Sato (USP)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-27.jpg">
            <div class="carousel-caption">Dia 1 - Palestra convidada - Profa. Liria Sato (USP)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-28.jpg">
            <div class="carousel-caption">Dia 1 - Cerimônia de abertura</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-32.jpg">
            <div class="carousel-caption">Dia 1 - Cerimônia de abertura</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-29.jpg">
            <div class="carousel-caption">Dia 1 - Brindes do primeiro dia</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-30.jpg">
            <div class="carousel-caption">Dia 1 - Momento de descontração</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-31.jpg">
            <div class="carousel-caption">Dia 1 - Antes da escolha dos ganhadores ...</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-34.jpg">
            <div class="carousel-caption">Dia 1 - Ganhadores dos brindes</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/1-33.jpg">
            <div class="carousel-caption">Dia 1 - Confraternização (pizzada)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/2-1.jpg">
            <div class="carousel-caption">Dia 2 - Sala de controle pronta para o 2o dia</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/2-2.jpg">
            <div class="carousel-caption">Dia 2 - Organização Local e Geral</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/2-3.jpg">
            <div class="carousel-caption">Dia 2 - Palestra de Mônica Costa (HPE)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/2-5.jpg">
            <div class="carousel-caption">Dia 2 - Plateia na manhã do segundo dia</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/2-6.jpg">
            <div class="carousel-caption">Dia 2 - Palestra de Guilherme Friol (SDC)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/2-7.jpg">
            <div class="carousel-caption">Dia 2 - Palestra convidada - Prof. Guido Araujo (UNICAMP)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/2-8.jpg">
            <div class="carousel-caption">Dia 2 - Palestra convidada - Prof. Guido Araujo (UNICAMP)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/2-9.jpg">
            <div class="carousel-caption">Dia 2 - Visão da plateia</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/2-10.jpg">
            <div class="carousel-caption">Dia 2 - Seção Técnica de Artigos I</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/2-11.jpg">
            <div class="carousel-caption">Dia 2 - Seção Técnica de Artigos I</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/2-12.jpg">
            <div class="carousel-caption">Dia 2 - Seção Técnica de Artigos I</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/2-13.jpg">
            <div class="carousel-caption">Dia 2 - Seção Técnica de Artigos I</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/2-14.jpg">
            <div class="carousel-caption">Dia 2 - Seção Técnica de Artigos I</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/2-15.jpg">
            <div class="carousel-caption">Dia 2 - Seção Técnica de Artigos I</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/2-16.jpg">
            <div class="carousel-caption">Dia 2 - Seção Técnica de Artigos I</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/2-17.jpg">
            <div class="carousel-caption">Dia 2 - Seção Técnica de Artigos I</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/2-18.jpg">
            <div class="carousel-caption">Dia 2 - Minicurso Profa. Denise Stringhini (UNIFESP)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/2-19.jpg">
            <div class="carousel-caption">Dia 2 - Minicurso Profa. Denise Stringhini (UNIFESP)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/2-20.jpg">
            <div class="carousel-caption">Dia 2 - Minicurso Profa. Denise Stringhini (UNIFESP)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/2-21.jpg">
            <div class="carousel-caption">Dia 2 - Minicurso Profa. Sarita Bruschi (USP)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/2-23.jpg">
            <div class="carousel-caption">Dia 2 - Minicurso Profa. Sarita Bruschi (USP)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/2-24.jpg">
            <div class="carousel-caption">Dia 2 - Palestra industrial, Fábio Alves (NVidia)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/2-25.jpg">
            <div class="carousel-caption">Dia 2 - Palestra industrial, Leonardo Delatim (Dell)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/2-27.jpg">
            <div class="carousel-caption">Dia 2 - Palestra industrial, Dell e NVidia</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/2-28.jpg">
            <div class="carousel-caption">Dia 2 - Palestra industrial, Thiago Nunes (MGdata)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/2-29.jpg">
            <div class="carousel-caption">Dia 2 - Palestra industrial, Thiago Nunes (MGdata)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-1.jpg">
            <div class="carousel-caption">Dia 3 - Prof. Aleardo abre a Seção Técnica de Artigos II</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-2.jpg">
            <div class="carousel-caption">Dia 3 - Seção Técnica de Artigos II</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-3.jpg">
            <div class="carousel-caption">Dia 3 - Seção Técnica de Artigos II</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-4.jpg">
            <div class="carousel-caption">Dia 3 - Seção Técnica de Artigos II</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-5.jpg">
            <div class="carousel-caption">Dia 3 - Seção Técnica de Artigos II</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-6.jpg">
            <div class="carousel-caption">Dia 3 - Perguntas da plateia</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-7.jpg">
            <div class="carousel-caption">Dia 3 - Seção Técnica de Artigos II</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-9.jpg">
            <div class="carousel-caption">Dia 3 - Seção Técnica de Artigos II</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-10.jpg">
            <div class="carousel-caption">Dia 3 - Seção Técnica de Artigos II</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-11.jpg">
            <div class="carousel-caption">Dia 3 - Seção Técnica de Artigos II</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-12.jpg">
            <div class="carousel-caption">Dia 3 - Seção Técnica de Artigos II</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-14.jpg">
            <div class="carousel-caption">Dia 3 - Palestra convidada: Profa. Milene Ferro (UNESP)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-15.jpg">
            <div class="carousel-caption">Dia 3 - Palestra convidada: Profa. Milene Ferro (UNESP)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-16.jpg">
            <div class="carousel-caption">Dia 3 - Palestra convidada: Profa. Milene Ferro (UNESP)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-17.jpg">
            <div class="carousel-caption">Dia 3 - Preparação do último coffee-break do evento</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-18.jpg">
            <div class="carousel-caption">Dia 3 - Seção Técnica de Artigos III</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-19.jpg">
            <div class="carousel-caption">Dia 3 - Seção Técnica de Artigos III</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-20.jpg">
            <div class="carousel-caption">Dia 3 - Seção Técnica de Artigos III</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-21.jpg">
            <div class="carousel-caption">Dia 3 - Seção Técnica de Artigos III</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-22.jpg">
            <div class="carousel-caption">Dia 3 - Seção Técnica de Artigos III</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-23.jpg">
            <div class="carousel-caption">Dia 3 - Seção Técnica de Artigos III</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-24.jpg">
            <div class="carousel-caption">Dia 3 - Seção Técnica de Artigos III</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-26.jpg">
            <div class="carousel-caption">Dia 3 - Seção Técnica de Artigos III</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-27.jpg">
            <div class="carousel-caption">Dia 3 - Seção Técnica de Artigos III</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-28.jpg">
            <div class="carousel-caption">Dia 3 - Time da organização do evento</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-29.jpg">
            <div class="carousel-caption">Dia 3 - Premiação - IC (menção honrosa)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-30.jpg">
            <div class="carousel-caption">Dia 3 - Premiação - IC (menção honrosa)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-31.jpg">
            <div class="carousel-caption">Dia 3 - Premiação - IC (melhor artigo)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-32.jpg">
            <div class="carousel-caption">Dia 3 - Premiação - PG (menção honrosa)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-33.jpg">
            <div class="carousel-caption">Dia 3 - Premiação - PG (menção honrosa)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-34.jpg">
            <div class="carousel-caption">Dia 3 - Premiação - PG (melhor artigo)</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-35.jpg">
            <div class="carousel-caption">Dia 3 - Premiação - Ganhadores do
              Desafio de Programação Paralela</div>
        </div>
        <div class="carousel-item">
            <img src="../img_car/3-36.jpg">
            <div class="carousel-caption">Dia 3 - Premiação final</div>
        </div>
    </div>
    <button class="carousel-prev">&#10094;</button>
    <button class="carousel-next">&#10095;</button>
</div>

<script>
const carouselSlide = document.querySelector('.carousel-slide');
const prevBtn = document.querySelector('.carousel-prev');
const nextBtn = document.querySelector('.carousel-next');
const items = document.querySelectorAll('.carousel-item');

let counter = 0; // Start from the first image

// Set the width of the carousel slide to be the number of items times 100%
carouselSlide.style.width = `${items.length * 100}%`;

// Set the width of each item to be 100% divided by the number of items
items.forEach(item => {
  item.style.width = `${100 / items.length}%`;
});

function updateTransform() {
  const size = carouselSlide.clientWidth / items.length; // Adjust size to be the width of one item
  carouselSlide.style.transition = "transform 0.5s ease-in-out";
  carouselSlide.style.transform = `translateX(${-size * counter}px)`;
}

nextBtn.addEventListener('click', () => {
  if (counter >= items.length - 1) {
    counter = 0; // Reset counter to loop back to the first item
  } else {
    counter++;
  }
  updateTransform();
});

prevBtn.addEventListener('click', () => {
  if (counter <= 0) {
    counter = items.length - 1; // Reset counter to loop back to the last item
  } else {
    counter--;
  }
  updateTransform();
});

// Update the transform to ensure the correct item is shown on load
updateTransform();

setInterval(() => {
  nextBtn.click();
}, 5000);
</script>
-->
<section id="white-card"></section>

<!-- sobre --
<section id="light-card">
    <div class="p-2 pb-5 container col-sm-12 col-lg-8 text-justify">
        <h2 class="p-4 text-center">Artigos premiados</h2>
        <p class="lead">
          <b>Trilha</b>: Fórum de Graduação<br>
          <b>Título</b>: Investigando a Efetividade de LLMs na Otimização de Código Paralelo<br>
          <b>Autores</b>: Pedro Cattai (UNESP), Alexandro Baldassin (UNESP)
        </p>
        <p class="lead">    
          <b>Trilha:</b> Fórum de Pós-Graduação<br>
          <b>Título</b>: Improving Performance Estimation of Smart City Simulations Using the Actor Model<br>
          <b>Autores</b>: Francisco Wallison Rocha (EACH/USP), Emilio Francesquini (UFABC), Daniel Cordeiro (EACH/USP)        
        </p>
    </div>
</section>

<section id="white-card"></section>
--> 
<!-- sobre -->
<section id="light-card">
    <div class="p-2 pb-5 container col-sm-12 col-lg-8 text-justify">
        <h2 class="p-4 text-center">Seja bem-vindo(a) à ERAD-SP 2025!</h2>
        <p class="lead">
            A XVI Escola Regional de Alto Desempenho do Estado de São Paulo (ERAD-SP 2025) é promovida pela Sociedade Brasileira de Computação (SBC) 
            e pela Comissão Regional de Computação de Alto Desempenho do Estado de São Paulo (CRAD-SP). A ERAD-SP 2025 visa a estimular o estudo e 
            as pesquisas em computação de alto desempenho, arquitetura de computadores, sistemas distribuídos, processamento paralelo e suas 
            aplicações em áreas como: biologia, engenharias, física, matemática, ciência da computação, medicina, mercado financeiro, química, 
            entre outras.
        </p>
        <p class="lead">    
            O público alvo da ERAD-SP 2025 são alunos, profissionais e professores/pesquisadores que atuam direta ou indiretamente na computação de 
            alto desempenho e em áreas correlatas. Espera-se neste evento reunir tais profissionais de modo a estimular a troca de experiências e 
            o desenvolvimento técnico científico da computação de alto desempenho no Brasil, em particular no Estado de São Paulo. Entre as 
            atividades programadas destacam-se a apresentação de palestras convidadas, minicursos introdutórios e avançados, apresentação de 
            trabalhos de Iniciação Científica e de Pós-Graduação, e o desafio de programação paralela. A ERAD-SP 2025 será realizada entre os dias 
            28 e 30 de maio de 2025, na Universidade Estadual Paulista (Unesp), em São José do Rio Preto/SP. 
        </p>
    </div>
</section>



<section class="jumbotron jumbotron-fluid" id="red-card">
    <div class="pb-1 container col-sm-12 col-lg-8 text-justify">
        <h2>Transmissão</h2>
        <p class="lead">    
            Este evento será transmitido ao vivo através do canal do YouTube da ERAD-SP. Acompanhe: <a href="https://www.youtube.com/eradsp" style="color: white;">youtube.com/eradsp</a>
        </p>
    </div>
</section>

<!-- datas importantes -->
<section class="jumbotron jumbotron-fluid" id="dark-card">
    <div class="pb-1 container col-sm-12 col-lg-8 text-justify">
        <h2>Datas importantes</h2>
        <ul class="mt-4">
          <li>04/04/2025: Data limite para submissão de artigos.</li>
          <li>25/04/2025: Notificação dos artigos aceitos.</li>
          <li>09/05/2025: Data limite para inscrição dos autores no evento.</li>
          <li>09/05/2025: Data limite para upload da versão final dos artigos aceitos.</li>
        </ul>
    </div>
</section>

<section id="sobre_sbc">
    <div class="pb-1 container col-sm-12 col-lg-8 text-justify">
        <h2>Sobre a SBC</h2>
        <p class="lead">
            A <strong>Sociedade Brasileira de Computação - SBC</strong> é uma Sociedade Científica sem fins lucrativos, fundada em
            julho de 1978, que reúne estudantes, professores, profissionais, pesquisadores e entusiastas da área da Computação e
            Informática de todo o país.
        </p>
        <p class="lead">
            A SBC tem como função fomentar o acesso à informação e cultura por meio da informática, promover a inclusão digital,
            incentivar a pesquisa e o ensino em computação no Brasil, e contribuir para a formação do profissional da computação com
            responsabilidade social.
        </p>
        <p class="lead">
            Para organização e divulgação de atividades, ações e eventos científicos, técnicos, educacionais e políticos, a SBC mantém
            uma estrutura de três tipos de Grupos Temáticos (GT), que são as Grandes Áreas (GA), as Comissões Especiais (CE) e os
            Grupos de Interesses (GI). Estes grupos reúnem associados com interesses comuns em subáreas da computação.
        </p>
        <p class="lead">
            Aqui você está acessando o site de uma das
            <strong>Comissões Especiais (CE) da SBC</strong>, que representa um grupo de associados da SBC que compartilham dos
            interesses e valores em determinada área da Computação. Associados vigentes podem se inscrever nas
            <a href="https://www.sbc.org.br/403-comissoes-especiais" target="_blank">listas de e-mail das Comissões Especiais (CE)</a>
            da área que deseja acompanhar. Se você ainda não é um associado ou deseja renovar sua associação à nossa comunidade
            <a href="https://centraldesistemas.sbc.org.br/mom" target="_blank">clique aqui</a>
            e venha fazer parte da maior e mais importante sociedade científica na área de computação da América Latina!
        </p>
    </div>
</section>

<!-- novidades -->
<!-- <section class="jumbotron jumbotron-fluid" id="dark-card">
    <div class="pb-1 container col-sm-12 col-lg-8 text-justify">
        <h2>Novidades</h2>

        {% assign news = site.data.news.news %}

        <ul class="mt-4">
            {% for news_record in news %}
            <li><b>{{ news_record.date }}</b>: {{ news_record.text }}</li>
            {% endfor %}
        </ul>
    </div>
</section> -->

<!-- footer -->
