---
layout: default
title: "Home"
---

<!-- sobre -->
<section id="light-card">
    <div class="p-2 pb-5 container col-sm-12 col-lg-8 text-justify">
        <h2 class="p-4 text-center">Seja bem-vindo(a) à ERAD-SP 2024!</h2>
        <p class="lead">
            A XV Escola Regional de Alto Desempenho do Estado de São Paulo (ERAD-SP 2024) é promovida pela Sociedade Brasileira de Computação (SBC) 
            e pela Comissão Regional de Computação de Alto Desempenho do Estado de São Paulo (CRAD-SP). A ERAD-SP 2024 visa a estimular o estudo e 
            as pesquisas em computação de alto desempenho, arquitetura de computadores, sistemas distribuídos, processamento paralelo e suas 
            aplicações em áreas como: biologia, engenharias, física, matemática, ciência da computação, medicina, mercado financeiro, química, 
            entre outras.
        </p>
        <p class="lead">    
            O público alvo da ERAD-SP 2024 são alunos, profissionais e professores/pesquisadores que atuam direta ou indiretamente na computação de 
            alto desempenho e em áreas correlatas. Espera-se neste evento reunir tais profissionais de modo a estimular a troca de experiências e 
            o desenvolvimento técnico científico da computação de alto desempenho no Brasil, em particular no Estado de São Paulo. Entre as 
            atividades programadas destacam-se a apresentação de palestras convidadas, minicursos introdutórios e avançados, apresentação de 
            trabalhos de Iniciação Científica e de Pós-Graduação, e o desafio de programação paralela. A ERAD-SP 2024 será realizada entre os dias 
            16 e 18 de maio de 2024, na Universidade Estadual Paulista (Unesp), em Rio Claro/SP. 
        </p>
    </div>
</section>

<!--SLIDES-->

<div class="carousel-container">
    <div class="carousel-slide">
        <img src="../img_car/1-1.jpg" alt="Image 1-1">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/1-2.jpg" alt="Image 1-2">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/1-3.jpg" alt="Image 1-3">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/1-4.jpg" alt="Image 1-4">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/1-5.jpg" alt="Image 1-5">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/1-6.jpg" alt="Image 1-6">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/1-7.jpg" alt="Image 1-7">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/1-8.jpg" alt="Image 1-8">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/1-9.jpg" alt="Image 1-9">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/1-10.jpg" alt="Image 1-10">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/1-11.jpg" alt="Image 1-11">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/1-12.jpg" alt="Image 1-12">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/1-13.jpg" alt="Image 1-13">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/1-14.jpg" alt="Image 1-14">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/1-15.jpg" alt="Image 1-15">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/1-16.jpg" alt="Image 1-16">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/1-17.jpg" alt="Image 1-17">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/1-18.jpg" alt="Image 1-18">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/1-19.jpg" alt="Image 1-19">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-1.jpg" alt="Image 2-1">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-2.jpg" alt="Image 2-2">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-3.jpg" alt="Image 2-3">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-4.jpg" alt="Image 2-4">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-5.jpg" alt="Image 2-5">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-6.jpg" alt="Image 2-6">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-7.jpg" alt="Image 2-7">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-8.jpg" alt="Image 2-8">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-9.jpg" alt="Image 2-9">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-10.jpg" alt="Image 2-10">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-11.jpg" alt="Image 2-11">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-12.jpg" alt="Image 2-12">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-13.jpg" alt="Image 2-13">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-14.jpg" alt="Image 2-14">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-15.jpg" alt="Image 2-15">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-16.jpg" alt="Image 2-16">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-17.jpg" alt="Image 2-17">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-18.jpg" alt="Image 2-18">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-19.jpg" alt="Image 2-19">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-20.jpg" alt="Image 2-20">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-21.jpg" alt="Image 2-21">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-22.jpg" alt="Image 2-22">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-23.jpg" alt="Image 2-23">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-24.jpg" alt="Image 2-24">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-25.jpg" alt="Image 2-25">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-26.jpg" alt="Image 2-26">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-27.jpg" alt="Image 2-27">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-28.jpg" alt="Image 2-28">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-29.jpg" alt="Image 2-29">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-30.jpg" alt="Image 2-30">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-31.jpg" alt="Image 2-31">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-32.jpg" alt="Image 2-32">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-33.jpg" alt="Image 2-33">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-34.jpg" alt="Image 2-34">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-35.jpg" alt="Image 2-35">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-36.jpg" alt="Image 2-36">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-37.jpg" alt="Image 2-37">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-38.jpg" alt="Image 2-38">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-39.jpg" alt="Image 2-39">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-40.jpg" alt="Image 2-40">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-41.jpg" alt="Image 2-41">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-42.jpg" alt="Image 2-42">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-43.jpg" alt="Image 2-43">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/2-44.jpg" alt="Image 2-44">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-1.jpg" alt="Image 3-1">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-2.jpg" alt="Image 3-2">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-3.jpg" alt="Image 3-3">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-4.jpg" alt="Image 3-4">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-5.jpg" alt="Image 3-5">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-6.jpg" alt="Image 3-6">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-7.jpg" alt="Image 3-7">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-8.jpg" alt="Image 3-8">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-9.jpg" alt="Image 3-9">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-10.jpg" alt="Image 3-10">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-11.jpg" alt="Image 3-11">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-12.jpg" alt="Image 3-12">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-13.jpg" alt="Image 3-13">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-14.jpg" alt="Image 3-14">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-15.jpg" alt="Image 3-15">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-16.jpg" alt="Image 3-16">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-17.jpg" alt="Image 3-17">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-18.jpg" alt="Image 3-18">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-19.jpg" alt="Image 3-19">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-20.jpg" alt="Image 3-20">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-21.jpg" alt="Image 3-21">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-22.jpg" alt="Image 3-22">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-23.jpg" alt="Image 3-23">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-24.jpg" alt="Image 3-24">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-25.jpg" alt="Image 3-25">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-26.jpg" alt="Image 3-26">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-27.jpg" alt="Image 3-27">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-28.jpg" alt="Image 3-28">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-29.jpg" alt="Image 3-29">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-30.jpg" alt="Image 3-30">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-31.jpg" alt="Image 3-31">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-32.jpg" alt="Image 3-32">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-33.jpg" alt="Image 3-33">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-34.jpg" alt="Image 3-34">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-35.jpg" alt="Image 3-35">
        <!--<div class="carousel-caption">Caption for Image</div>-->
        <img src="../img_car/3-36.jpg" alt="Image 3-36">
        <!--<div class="carousel-caption">Caption for Image</div>-->
    </div>
    <button class="carousel-prev">&#10094;</button>
    <button class="carousel-next">&#10095;</button>
</div>

<script>
const carouselSlide = document.querySelector('.carousel-slide');
const prevBtn = document.querySelector('.carousel-prev');
const nextBtn = document.querySelector('.carousel-next');
const images = document.querySelectorAll('.carousel-slide img');

let counter = 0; // Start from the first image

// Set the width of the carousel slide to be the number of images times 100%
carouselSlide.style.width = `${images.length * 100}%`;

// Set the width of each image container to be 100% divided by the number of images
images.forEach(img => {
  img.style.width = `${100 / images.length}%`;
});

function updateTransform() {
  const size = carouselSlide.clientWidth / images.length; // Adjust size to be the width of one image
  carouselSlide.style.transition = "transform 0.5s ease-in-out";
  carouselSlide.style.transform = `translateX(${-size * counter}px)`;
}

nextBtn.addEventListener('click', () => {
  if (counter >= images.length - 1) {
    counter = 0; // Reset counter to loop back to the first image
  } else {
    counter++;
  }
  updateTransform();
});

prevBtn.addEventListener('click', () => {
  if (counter <= 0) {
    counter = images.length - 1; // Reset counter to loop back to the last image
  } else {
    counter--;
  }
  updateTransform();
});

// Update the transform to ensure the correct image is shown on load
updateTransform();
</script>


<section class="jumbotron jumbotron-fluid" id="red-card">
    <div class="pb-1 container col-sm-12 col-lg-8 text-justify">
        <h2>Transmissão</h2>
        <p class="lead">    
            Este evento será transmitido ao vivo através do canal do YouTube da ERAD-SP. Acompanhe: <a href="https://www.youtube.com/eradsp" style="color: white;">youtube.com/eradsp</a>
        </p>
    </div>
</section>

<!-- datas importantes -->
<section class="jumbotron jumbotron-fluid" id="dark-card">
    <div class="pb-1 container col-sm-12 col-lg-8 text-justify">
        <h2>Datas importantes</h2>
        <ul class="mt-4">
          <li><s>08/04/2024</s> 14/04/2024: Data limite para submissão de artigos.</li>
          <li><s>26/04/2024</s> 30/04/2024: Notificação dos artigos aceitos.</li>
          <li><s>03/05/2024</s> 05/05/2024: Data limite para inscrição dos autores no evento.</li>
          <li><s>06/05/2024</s> 08/05/2024: Data limite para upload da versão final dos artigos aceitos.</li>
        </ul>
    </div>
</section>

<section id="sobre_sbc">
    <div class="pb-1 container col-sm-12 col-lg-8 text-justify">
        <h2>Sobre a SBC</h2>
        <p class="lead">
            A <strong>Sociedade Brasileira de Computação - SBC</strong> é uma Sociedade Científica sem fins lucrativos, fundada em
            julho de 1978, que reúne estudantes, professores, profissionais, pesquisadores e entusiastas da área da Computação e
            Informática de todo o país.
        </p>
        <p class="lead">
            A SBC tem como função fomentar o acesso à informação e cultura por meio da informática, promover a inclusão digital,
            incentivar a pesquisa e o ensino em computação no Brasil, e contribuir para a formação do profissional da computação com
            responsabilidade social.
        </p>
        <p class="lead">
            Para organização e divulgação de atividades, ações e eventos científicos, técnicos, educacionais e políticos, a SBC mantém
            uma estrutura de três tipos de Grupos Temáticos (GT), que são as Grandes Áreas (GA), as Comissões Especiais (CE) e os
            Grupos de Interesses (GI). Estes grupos reúnem associados com interesses comuns em subáreas da computação.
        </p>
        <p class="lead">
            Aqui você está acessando o site de uma das
            <strong>Comissões Especiais (CE) da SBC</strong>, que representa um grupo de associados da SBC que compartilham dos
            interesses e valores em determinada área da Computação. Associados vigentes podem se inscrever nas
            <a href="https://www.sbc.org.br/403-comissoes-especiais" target="_blank">listas de e-mail das Comissões Especiais (CE)</a>
            da área que deseja acompanhar. Se você ainda não é um associado ou deseja renovar sua associação à nossa comunidade
            <a href="https://centraldesistemas.sbc.org.br/mom" target="_blank">clique aqui</a>
            e venha fazer parte da maior e mais importante sociedade científica na área de computação da América Latina!
        </p>
    </div>
</section>

<!-- novidades -->
<!-- <section class="jumbotron jumbotron-fluid" id="dark-card">
    <div class="pb-1 container col-sm-12 col-lg-8 text-justify">
        <h2>Novidades</h2>

        {% assign news = site.data.news.news %}

        <ul class="mt-4">
            {% for news_record in news %}
            <li><b>{{ news_record.date }}</b>: {{ news_record.text }}</li>
            {% endfor %}
        </ul>
    </div>
</section> -->

<!-- footer -->
